acinclude.m4
aclocal.m4
build/
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
.deps
include/
install-sh
lib/
.libs/
libtool
ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
missing
mkinstalldirs
modules/
run-tests.php
*.la
*.lo
