acinclude.m4
aclocal.m4
build/
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
.deps
include/
install-sh
lib/
.libs/
libtool
ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
missing
mkinstalldirs
modules/
run-tests.php
*.la
*.lo
*.sw*
btree/test-programs/test.mmap
btree/test-programs/tree-create
btree/test-programs/tree-create-failures
btree/test-programs/tree-create-failures2
btree/test-programs/tree-create2
btree/test-programs/tree-search
btree/test-programs/tree-search2
btree/test-programs/tree-search3
btree/test-programs/tree-delete
btree/test-programs/tree-delete2
btree/test-programs/tree-delete3
btree/test-programs/tree-delete4
btree/test-programs/tree-delete5
btree/test-programs/url-ids.txt
btree/test-programs/url-ids2.txt
btree/test-programs/urls.data.txt
btree/*.sw*
btree/test-programs/*.sw*
tests/*.sw*
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh

